* {
    user-select: none;
}

.acadally-student-page {
    width: 100%;
    position: relative;
    background-color: var(--white);
    height: 49400px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--white);
    font-family: var(--font-montserrat);
}

/* ================== HEADER ======================= */

.content {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
}


/* ================== MEGICAL UNDERLINE EFFECT ======================= */
.underline--magical {
    display: inline-block;
    background: linear-gradient(to right, #FF8A00, #FF8A00);
    /* background: #FF8A00; */
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size 0.3s ease-in-out;
}

.underline--magical:hover {
    background-size: 100% 100%;
}





/* ===================================================== */
/* ================= adadally HEAD ===================== */

.adadally-cont-head {
    position: absolute;
    /* top: 140px; */
    top: 100px;
    /* width: 1000px; */
}


.adadally-head,
.adadally-head-txt,
.adadally-head-img,
.A7 {
    position: absolute;
    width: 1000px;
}

.adadally-head {
    font-size: 75px;
    letter-spacing: -4px;
    font-weight: 900;
    padding-bottom: 15px;
}

.adadally-head-img {
    top: 50px;
    /* height: 600px; */
}

.acadally-box-1 img{
    width: 350px;
}

.acadally-box-1,
.acadally-box-2,
.acadally-box-3,
.acadally-box-4,
.acadally-box-5,
.acadally-box-6,
.acadally-box-7,
.acadally-box-8,
.acadally-box-9,
.acadally-box-10,
.acadally-box-11,
.acadally-box-12,
.acadally-box-13,
.acadally-box-14,
.acadally-box-15,
.acadally-box-16,
.acadally-box-17,
.acadally-box-18,
.acadally-box-19,
.acadally-box-20,
.acadally-box-21,
.acadally-box-22,
.acadally-box-23,
.acadally-box-24,
.acadally-box-25,
.acadally-box-26,
.acadally-box-27 {
    position: absolute;
    top: 920px;
    width: 1000px;
}


.acadally-box-2 {
    top: 1400px;
}

.acadally-box-3 {
    top: 1780px;
}

.acadally-box-4 {
    top: 2260px;
}

.acadally-box-5 {
    top: 3400px;
}

.acadally-box-6 {
    top: 4500px;
}

.acadally-box-7 {
    top: 5020px;
}

.acadally-box-8 {
    top: 5760px;
}

.acadally-box-9 {
    top: 6340px;
}

.acadally-box-10 {
    top: 7630px;
}

.acadally-box-11 {
    top: 8380px;
}

.acadally-box-12 {
    top: 10590px;
}

.acadally-box-13 {
    top: 11700px;
}

.acadally-box-14 {
    top: 14210px;
}

.acadally-box-15 {
    top: 15240px;
}

.acadally-box-16 {
    top: 23250px;
}

.acadally-box-17 {
    top: 24140px;
}

.acadally-box-18 {
    top: 35900px;
}

.acadally-box-19 {
    top: 36930px;
}

.acadally-box-20 {
    top: 38820px;
}

.acadally-box-21 {
    top: 42780px;
}

.acadally-box-22 {
    top: 43750px;
}
.acadally-box-23 {
    top: 44610px;
}
.acadally-box-24 {
    top: 45200px;
}
.acadally-box-25 {
    top: 46050px;
}
.acadally-box-26 {
    top: 48000px;
}

.acadally-box-18 ul {
    margin: 0;
    padding: 0px;
    margin-left: 25px;
    color: #BBBBBB;
}

.acadally-box-18 ul li::marker {
    color: #FF8A00;
    font-size: 20px;
}


.acadally-box-5 h3 {
    font-size: 22px;
    font-weight: 700;
}

.acadally-box-9 h3,
.acadally-box-10 h3 {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.acadally-box-5 h5 {
    font-size: 18px;
    font-weight: 700;
    margin: 0px;
}

.ab1-h {
    font-size: 36px;
    font-weight: 700;
}

.ab2-h,
.ab3-ha {
    font-size: 24px;
    font-weight: 700;
    color: #8AB424;
}

.ab3-ha {
    font-size: 34px;
    font-weight: 900;
}

.ab3-h {
    font-size: 36px;
    border-left: 4px solid #FF8A00;
    padding-left: 20px;
}

.w7 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    color: #BBBBBB;
    margin: 0px;
}

.w6 p {
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #BBBBBB;
}

.A2,
.A18 {
    position: relative;
    top: -70px;
}
.A17,
.A4{
    width: 350px;
}

.A4c,
.A4d,
.A4e,
.A4f {
    position: relative;
}

.A4d {
    left: 12%;
}

.A4e {
    left: 24%;
}

.A4f {
    left: 36%;
}
.tick{
    width: 90px;
    height: 80px;
}
.bluetick{
    height: 40px;
}

.student-back {
    position: relative;
    top: 60px;
}

.background-image {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 300px;
    height: auto;
}

.box6a,
.box6b,
.box6c {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 250px;
    height: 375px;
    text-align: center;
    box-sizing: border-box;
}

.box6img {
    width: 100%;
    height: 210px;
    object-fit: contain;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.box6cont h5 {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 15px;
    line-height: 1.2;
}

.box6cont p {
    font-size: 12px;
    line-height: 1.5;
    margin: 0;
    color: #BBBBBB;
}
.arrow-rgt1,
.arrow-rgt2 {
    width: 100px;
    height: auto;
    align-self: center;
    position: relative;
    top: -50px;
}



.A9,
.A10,
.A11,
.A11a,
.A11b,
.A12,
.A13,
.A14,
.A15a,
.A15b,
.A15c,
.A15d,
.A15e,
.A15f,
.A15g,
.A15h,
.A15i,
.A15j,
.A16,
.A17aa,
.A17a,
.A17b,
.A17c,
.A17d,
.A17e,
.A17f,
.A17g,
.A20a,
.A21,
.A22 {
    position: relative;
    width: 1000px;
}


.A4a,
.A4b,
.A4c,
.A4d,
.A4e,
.A4f{
    width: 550px;
}


/* ================= OTHER PROJECT BOX ===================== */

.other-proj-box {
    position: absolute;
    top: 48700px;
}




.frame {
    z-index: 2;
    width: 60%;
    height: 60%;
    border: 6px solid rgba(222, 233, 255, 0.9);
    color: rgb(15, 9, 33);
    background-color: rgba(222, 233, 255, 0.8);
    box-shadow:
        inset 0 0 30px rgba(15, 9, 33, 0.3),
        0 0 18px rgba(222, 233, 255, 0.6);
    overflow: hidden;
}

.struc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image {
    position: absolute;
    width: 6vw;
    height: 6vw;
    border-radius: 100%;
    background-size: cover;
    background-position: center;
    box-shadow:
        inset -0.6vw -0.6vw 3vw 0.15vw rgba(0, 0, 0, 0.9),
        0.6vw 0.6vw 1.8vw -0.1vw rgba(0, 0, 0, 0.6);
}

/* ================================ */
.slider-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    gap: 10px;
    animation: slide 30s linear infinite;
    width: calc(200px * 28 + 10px * 27);
}

.slider img {
    height: 430px;
    width: 198.73px;
    flex-shrink: 0;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.slider img:hover {
    transform: scale(1.05);
}

@keyframes slide {
    from {
        transform: translateX(0);
        /* Start from the left */
    }

    to {
        transform: translateX(-100%);
    }
}















.image-carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    height: auto;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .image-carousel img {
    width: 200px;
    height: 430px;
    border-radius: 8px;

    /* min-width: 100%; */
    flex-shrink: 0;
    transition: transform 0.3s ease-in-out;
    animation: slide 10s infinite linear;
  }
  
  .image-carousel:hover img {
    animation-play-state: paused;
    transform: scale(1.2);
  }
  
  .image-carousel img:hover {
    transform: scale(1.4);
  }
  
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    14% {
      transform: translateX(-100%);
    }
    28% {
      transform: translateX(-200%);
    }
    42% {
      transform: translateX(-300%);
    }
    57% {
      transform: translateX(-400%);
    }
    71% {
      transform: translateX(-500%);
    }
    85% {
      transform: translateX(-600%);
    }
    100% {
      transform: translateX(-700%);
    }
  }
  
  
















/* ============================================================ */
/* =========================================================== */

.col1 {
    color: #FF8A00;
}

.col2 {
    color: #1C4CC3;
}

.col3 {
    color: #E95436;
}

.col4 {
    color: #8AB424;
}

.col5 {
    color: #FFB8AA;
}

.col6 {
    color: #D3F46C;
}

.col7 {
    color: #876FF4;
}

.col8 {
    color: #ADA4FF;
}



.dfsb {
    display: flex;
    justify-content: space-between;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}
.ml60{
    margin-left: 60px;
}

.f16 {
    font-size: 16px;
}

.fw7 {
    font-weight: 700;
}

li {
    color: #BBBBBB;
    margin: 10px 0;
}
.t_75{
    top: -75px;
}

@media only screen and (max-width:820px) {

    .dfsb {
        flex-direction: column;
        align-items: center;
    }

    .box6a,
    .box6b,
    .box6c {
        width: 100%;
        max-width: 300px;
        /* Adjust for smaller screens */
        margin-bottom: 20px;
    }



}









@media only screen and (max-width:500px) {

    
    .acadally-student-page {
        height: 26150px;
    }

    .header,
    .tick,
    .bluetick{
        display: none;
    }
    .ml60{
        margin-left: 0px;
    }

    .content {
        max-width: 390px;
    }

    .adadally-cont-head {
        top: 90px;
    }

    .adadally-head {
        font-size: 35px;
        letter-spacing: 0px;
        font-weight: 800;
        padding-bottom: 15px;
    }

    .adadally-head,
    .adadally-head-txt,
    .adadally-head-img,
    .A7 {
        position: absolute;
        width: 390px;
    }

    .adadally-head-img {
        top: 80px;
        height: 250px;
    }
    .ab1-h {
        font-size: 28px;
    }
    .acadally-box-1 img {
        width: 260px;
    }


    .acadally-box-1,
    .acadally-box-2,
    .acadally-box-3,
    .acadally-box-4,
    .acadally-box-5,
    .acadally-box-6,
    .acadally-box-7,
    .acadally-box-8,
    .acadally-box-9,
    .acadally-box-10,
    .acadally-box-11,
    .acadally-box-12,
    .acadally-box-13,
    .acadally-box-14,
    .acadally-box-15,
    .acadally-box-16,
    .acadally-box-17,
    .acadally-box-18,
    .acadally-box-19,
    .acadally-box-20,
    .acadally-box-21,
    .acadally-box-22,
    .acadally-box-23 {
        width: 390px;
    }

    .acadally-box-1 {
        top: 460px;
    }
    .acadally-box-2 {
        top: 1050px;
    }
    .acadally-box-3 {
        top: 1700px;
    }
    .acadally-box-4 {
        top: 2500px;
    }
    .acadally-box-5 {
        top: 3530px;
    }
    .acadally-box-6 {
        top: 5430px;
    }

    .acadally-box-7 {
        top: 6890px;
    }
    .acadally-box-8 {
        top: 7230px;
    }
    .acadally-box-9 {
        top: 8320px;
    }

    .acadally-box-10 {
        top: 8900px;
    }

    .acadally-box-11{
        top: 9280px;
    }

    .acadally-box-12 {
        top: 10400px;
    }

    .acadally-box-13 {
        top: 10880px;
    }
    .acadally-box-14 {
        top: 11900px;
    }
    .acadally-box-15 {
        top: 12380px;
    }
    .acadally-box-16 {
        top: 15710px;
    }
    .acadally-box-17 {
        top: 16140px;
    }
    .acadally-box-18 {
        top: 21390px;
    }
    .acadally-box-19 {
        top: 22800px;
    }

    .acadally-box-20 {
        top: 23370px;
    }
    .acadally-box-21 {
        top: 24300px;
    }
    .acadally-box-22 {
        top: 25110px;
    }




    .other-proj-box {
        position: absolute;
        top: 25400px;
    }































 
    .slider img {
        width: 205px;
    }
    .box6a, .box6b, .box6c {
        height: 330px;
        gap: 10px;
    }


    .arrow-rgt1 {
    top: -20px;
}

.arrow-rgt2 {
    top: -10px;
}
.A9,
.A10,
.A11,
.A11a,
.A11b,
.A12,
.A13,
.A14,
.A15a,
.A15b,
.A15c,
.A15d,
.A15e,
.A15f,
.A15g,
.A15h,
.A15i,
.A15j,
.A16,
.A17aa,
.A17a,
.A17b,
.A17c,
.A17d,
.A17e,
.A17f,
.A17g,
.A20a,
.A21,
.A22 {
    width: 390px;
}

    .A4{
        width: 350px;
    }
    
    .A4a, .A4b{
        width: 320px;
    }
    .A4c, .A4d, .A4e, .A4f {
        width: 250px;
    }
    .A2{
        top: -40px;
    }
    .A18 {
        top: 20px;
    }

    .ab2-h, .ab3-ha {
        font-size: 20px;
    }

    .ab3-h {
        font-size: 26px;
        padding-left: 15px;
    }
    .w7 p {
        font-size: 16px;
        line-height: 26px;
    }

    .mt40 {
        margin-top: 30px;
    }
    .mt30 {
        margin-top: 20px;
    }
    .t_75{
        top: 0px;
    }
    


}