* {
  user-select: none;
}

.journey-page {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 5400px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--color-gray-300);
  font-family: var(--font-montserrat);
}

.content {
  max-width: 1000px;
  height: 100%;
  padding-top: 40px;
  margin: 0 auto;
}

/* ------------------- JOURNEY BOX HEAD ------------------- */
/* -------------------------------------------------------- */

.box-head {
  position: absolute;
  top: 280px;
  width: 1000px;
  height: 80px;
  color: var(--m3-black);
  background-color: var(--white);
  text-align: left;
  font-size: var(--font-size-43xl);
  font-family: var(--font-montserrat);
}

.box-head-txt {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 800;
  font-size: 50px;
}

/* ------------------- JOURNEY TOP LINE ------------------- */
/* -------------------------------------------------------- */

.journey-top-line {
  position: absolute;
  top: 145px;
  text-align: left;
  font-size: 40px;
  font-weight: 900;
  color: #fff;
}

.journey-top-line p {
  margin: 0;
}


/* ------------------- JOURNEY BOX HEAD ------------------- */
/* -------------------------------------------------------- */

.jour-card1,
.jour-card2,
.jour-card3,
.jour-card4,
.jour-card5,
.jour-card6,
.jour-card7 {
  position: absolute;
  top: 390px;
  width: 1000px;
  height: 327px;
}

.jour-card2 {
  top: 775px;
}

.jour-card3 {
  top: 1340px;
}

.jour-card4 {
  top: 1920px;
}

.jour-card5 {
  top: 2500px;
}

.jour-card6 {
  top: 3080px;
}

.jour-card7 {
  top: 3670px;
}

/* ====================================== */


/* ============================ */


.jour-card-box1,
.jour-card-box2 {
  position: absolute;
  width: 480px;
  height: 500px;
  /* overflow: hidden; */
}

.jour-card-box2 {
  left: 520px;
}

.jour-card-box1 img,
.jour-card-box2 img {
  width: 100%;
  height: 100%;
}


/* ====================================== */

.card-box-parent1,
.card-box-parent2 {
  position: absolute;
  left: 520px;
  width: 430px;
  /* height: 305px; */
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
}

.card-box-parent2 {
  left: 0;

}

/* ====================================== */

.boxtop {
  font-size: 14px;
  margin-bottom: 35px;
}

.boxtop span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 15px;
}

.card-box-h1 {
  font-size: var(--font-size-5xl);
  font-weight: 600;
  padding-bottom: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid var(--m3-black);
}

.card-box-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  text-align: justify;
  color: #A8A8A8;
}

.journey-frends {
  position: absolute;
  top: 4350px;
  width: 1000px;
  height: 780px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;
}

.journey-frends-p {
  font-size: 20px;
  text-align: left;
  position: absolute;
  top: 80px;
  color: #A8A8A8;
}



.team-container {
  display: flex;
  gap: 35px;
  flex-direction: column;
  position: absolute;
  top: 175px;
  width: 1000px;
}

.team-card-box {
  display: flex;
  justify-content: space-between;
}

.team-card {
  display: flex;
  gap: 20px;
  width: 350px;
  text-align: left;
}

.team-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 15px;
}

.team-info h2 {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0px;
}

.team-info p {
  font-size: 18px;
  color: #A8A8A8;
  margin: 0;
}

.team-info a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
}


.team-info a:hover {
  color: #0077b5;
}

.team-info img {
  width: 20px;
  height: 10px;
  margin: 0;
}


.first-top,
.second-top {
  position: absolute;
}

.first-top {
  top: 260px;
}

.second-top {
  top: 150px;
}

@media only screen and (max-width:820px) {
  /* For tablets: */

  .journey-page {
    height: 4040px;
  }

  .content {
    max-width: 700px;
  }

  .journey-top-line {
    top: 115px;
    font-size: 30px;
  }

  .box-head {
    position: absolute;
    top: 225px;
    width: 700px;
  }

  .box-head-txt {
    top: 12px;
    font-size: 45px;
  }


  /* .jour-card1, .jour-card2, .jour-card3, .jour-card4, .jour-card5, .jour-card6, .jour-card7 { */
  .jour-card1,
  .jour-card2,
  .jour-card3,
  .jour-card4,
  .jour-card5,
  .jour-card6,
  .jour-card7 {
    top: 350px;
    width: 700px;
    height: 380px;
  }

  .jour-card2 {
    top: 640px;
  }

  .jour-card3 {
    top: 1060px;
  }

  .jour-card4 {
    top: 1470px;
  }

  .jour-card5 {
    top: 1875px;
  }

  .jour-card6 {
    top: 2285px;
  }

  .jour-card7 {
    top: 2692px;
  }

  .first-top {
    top: 220px !important;
  }

  .second-top {
    top: 115px !important;
  }

  .jour-card-box1,
  .jour-card-box2 {
    width: 340px;
    height: 350px;
  }

  .jour-card-box2 {
    left: 365px;
  }

  .card-box-parent1,
  .card-box-parent2 {
    position: absolute;
    left: 365px;
    width: 340px;
  }

  .card-box-parent2 {
    left: 0;
  }

  .boxtop {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .card-box-h1 {
    font-size: 15px;
    padding-bottom: 0px;
    margin-bottom: 4px;
  }

  .card-box-p {
    font-size: 10px;
  }

  .card-box-p {
    font-size: 12px;
    line-height: 13px;
  }

  .card-box-p p {
    margin: 2px;
  }

  .journey-frends {
    top: 3140px;
    width: 700px;
    height: 680px;
  }

  .team-card-box {
    display: flex;
    gap: 50px;
  }

  .journey-frends-p {
    font-size: 18px;
  }

  .cursor {
    display: none;
  }

  .team-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    position: absolute;
    top: 175px;
    width: 700px;
  }
}



@media only screen and (max-width:500px) {


  .journey-page {
    height: 6900px;
  }

  .header {
    display: none;
  }

  .content {
    max-width: 390px;
  }

  .journey-top-line {
    width: 390px;
    top: 80px;
    font-size: 17px;
  }

  .box-head {
    top: 180px;
    width: 390px;
    height: 45px;
    font-size: var(--font-size-5xl);
  }

  .box-head-txt {
    top: 3px;
    font-size: 29px;
  }

  .jour-card1,
  .jour-card2,
  .jour-card3,
  .jour-card4,
  .jour-card5,
  .jour-card6,
  .jour-card7 {

    width: 390px;
  }

  .jour-card1 {
    top: 260px;
  }

  .jour-card2 {
    top: 770px;
  }

  .jour-card3 {
    top: 1500px;
  }

  .jour-card4 {
    top: 2270px;
  }

  .jour-card5 {
    top: 3010px;
  }

  .jour-card6 {
    top: 3770px;
  }

  .jour-card7 {
    top: 4680px;
  }

  .card-box-h1 {
    font-size: 17px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  .card-box-p {
    font-size: 14px;
    line-height: 17px;
  }

  .card-box-parent1,
  .card-box-parent2 {
    position: absolute;
    top: 440px !important;
    left: 0px;
    width: 390px;
  }

  .jour-card-box1,
  .jour-card-box2 {
    width: 390px;
    height: 410px;
  }

  .jour-card-box2 {
    left: 0px;
  }

  .journey-frends {
    top: 5550px;
    width: 390px;
    height: 980px;
  }

  .frnd-top {
    font-size: 16px;
  }

  .journey-frends-p {
    margin: 0px;
    font-size: 14px;
    top: 60px;
  }

  .team-container {
    gap: 5px;
    top: 130px;
  }

  .team-card-box {
    display: flex;
    gap: 5px;
    flex-direction: column;
  }

  .team-info h2 {
    font-size: 22px;
    padding-bottom: 5px;
  }

  .team-info p {
    font-size: 14px;
  }


}